.home-header{
  background-image: linear-gradient(0deg, #0000009d, #0000009d), url('https://www.tripsavvy.com/thmb/ZDRQXV-PiFDTFZu4x22mZkYuw9s=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-930881934-5ae56fe48023b90036464e72.jpg');
  background-size: cover;
  height: 70vh;
  background-position: top;
}

.header-title{
  font-family: Dancing Script;
  font-weight: bold;
  font-size: 100px;
}

.location-header{
  background-size: cover;
  height: 100vh;
  background-position: top;
}